@model Slider
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="card">
        <div class="card-body ">
            <form method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="@Model.Title"></label>
                        <input asp-for="@Model.Title" class="form-control" placeholder="Title">
                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4">
                        <label asp-for="@Model.RedirectUrl"></label>
                        <input asp-for="@Model.RedirectUrl" class="form-control" placeholder="Url">
                        <span asp-validation-for="@Model.RedirectUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="@Model.Order"></label>
                        <input class="form-control" asp-for="@Model.Order" value="@(ViewBag.BiggestOrder+1)">
                        <span asp-validation-for="@Model.Order" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label asp-for="@Model.File"></label>
                        <input accept="image/png,image/jpeg" asp-for="@Model.File" class="form-control" placeholder="Photo">
                        <span asp-validation-for="@Model.File" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4">
                        <label asp-for="@Model.Desc"></label>
                        <textarea asp-for="@Model.Desc" class="form-control" placeholder="Description" rows="3"></textarea>
                        <span asp-validation-for="@Model.Desc" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}