
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}




<div class="container-fluid">
    <h2>Info</h2>
    <div class="card">
        <div class="card-body">

            <h5 class="card-title">Slider Title: @Model.Title</h5>
            <p class="card-title">Slider Desc: @Model.Desc</p>
            <img style="max-width:200px" src="~/uploads/sliders/@Model.Photo" />
            <p>Slider Url:<a href="@Model.RedirectUrl">@Model.RedirectUrl</a></p>
            <p class="card-title">Slider Order: @Model.Order</p>



        </div>
    </div>
</div>


